.max-width{
    max-width: 1100px;
    margin: 0px auto;
}
.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cur-po{
    cursor: pointer;
}

.title{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0px 0px 32px;
}